* {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
}

.keyboard,
textarea {
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 70%;
}

textarea {
    background-color: #FDB3D8;
    color: white;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 20px auto;
}

.keyboard-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.keyboard-key {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 6%;
    min-width: fit-content;
    border-radius: 5px;
    background-color: #FA9D9D;
    margin: 0.5vw;
    outline: none;
    position: relative;
}

.functionKeys {
    background-color: #F76363;
    font-size: 1rem;
}

.Backspace {
    width: fit-content;
    font-size: 0.5rem;
}

.Tab {
    width: 50px;
}

.Enter {
    width: 80px;
}

.Shift {
    width: 10%;
}

.Shift {
    width: 44px;
}

.Space {
    width: 50%;
}

.Control {
    width: 50px;
}